@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* raleway */

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "rubik", "Arial", sans-serif;
  font-size: 18px;
  font-display: swap;
  line-height: 30px;
  color: #242424;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html {
  height: 100%;
}
.visually_hidden,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main.index {
}
.main_container {
  flex-grow: 1;
}
.main_header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
  padding-top: 48px;
}

.navigation {
}

.search_field {
  width: 516px;
  margin: 0px;
  margin-left: 60px;
}

.navigation_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation_list_main {
  list-style-type: none;
}
.menu_main {
  width: 140px;
}
a {
  text-decoration: none;
  color: #444444;
}

.menu_user {
  display: flex;
  width: 1075px;
}

.menu_users_comein {
  width: 245px;
}

.menu_users_compare {
  width: 120px;
}

.menu_users_bascket {
  width: 141px;
}

.menu_users_list {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.menu_main_list {
  display: flex;
  width: 501px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.menu_main_container {
  align-content: flex-end;
}

.catalog_menu_items {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.catalog {
  vertical-align: middle;

  width: 236px;
}

.catalog_menu {
  display: flex;
  width: 1041px;
  margin-left: 60px;
  margin-top: 29px;
  vertical-align: middle;
  text-align: right;
}

.category {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: 64px;
  justify-content: space-between;
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.category_items {
  width: 160px;
}

.category_img {
  background-color: #ffe17f;
  width: 160px;
}

.services {
  background-color: #f0f0f0;
  width: 1440px;
  margin: 0 auto;
  margin-top: 109px;
}

.services_content {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services_content_middle {
  display: flex;
  flex-flow: column;
  width: 560px;
  margin-left: 116px;
}

.services_head {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.services_link {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.services_images {
  display: flex;
  align-content: flex-end;
}

.delivery_string {
  display: flex;
  width: 1160px;
  height: 100px;
  margin-top: 90px;
  margin-bottom: 97px;
}
.delivery_string h2 {
  background-color: #f0f0f0;
}

.car_icon {
  background-color: #ffe17f;
  height: 100px;
}

.delivery_string_head {
  display: flex;
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0px;
  width: 910px;
  justify-content: center;
  align-items: center;
}

.about_us_container {
  display: flex;
  width: 1160px;
  margin: auto;
  padding-bottom: 87px;
}

.about_us {
  display: flex;
  flex-flow: column;
  width: 560px;
}

.about_us_head {
  margin-top: 42px;
  margin-bottom: 26px;
}

.about_us_text {
  display: flex;
  flex-flow: column;
  width: 497px;
  min-height: 202px;
}

.info_icon {
  background-color: #f0f0f0;
  align-content: flex-end;
}

.mailing {
  display: flex;
  background-color: #f0f0f0;
  width: 1440px;
  margin: 0 auto;

  padding-bottom: 134px;
  padding-top: 75px;
  flex-wrap: wrap;
}
.email_subscribe_head {
  width: 560px;
  padding-left: 140px;
  margin-top: 0px;
  margin-bottom: 53px;
}

.about_us_delivery {
  margin: 0 auto;
  width: 1160px;
}

.about_us_head,
.email_subscribe_head,
.main_inner_head {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.email_subscribe_head {
  width: 560px;
  padding-left: 140px;
}
.mailing_text {
  width: 560px;
  margin-left: 40px;
}

.form_subscribe {
  width: 861px;
  padding-left: 140px;
}

.about_us_list {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-top: 23px;
}
.contacts {
  display: flex;
  flex-flow: column;
  width: 560px;
}
.contacts_second_head {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.about_us_link,
.write_us {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: auto;
}

.submit_button {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main_footer {
  background-color: #444444;
  display: flex;
  margin: 0 auto;
  width: 1440px;
  justify-content: space-between;
}
.image_footer_logo {
  display: flex;
  flex-grow: 1;
  width: 145px;
  margin-top: 62px;
  margin-left: 138px;
  margin-bottom: 35px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 235px;
  margin-top: 35px;
  margin-left: 139px;
}

.footer_divider {
  margin-top: 66px;
  margin-left: 140px;
}

.footer_center_list {
  display: flex;
  justify-content: space-between;
  -ms-flex-align: center;
  width: 458px;
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 137px;
  list-style-type: none;
}

.footer_center_items {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.social_icons {
  display: flex;
  width: 149px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 63px;
  margin-bottom: 61px;
  list-style-type: none;
}
.social_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.telephone {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 30px;
  margin-top: 133px;
  margin-bottom: 53px;
  margin-right: 140px;
}

.footer_html_link {
  display: flex;
  text-align: end;
  margin-right: 139px;
  align-content: flex-end;
}

.filters {
  display: flex;
  margin-right: 0px;
  margin-top: 59px;
  flex-flow: column;
  width: 468px;
  background-color: #ebebeb;
  margin-right: 72px;
}
.filters_head {
  margin: 0;
  width: 236px;
  background-color: #dcdcdc;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 200px;
  padding-right: 32px;
}

.sorting {
  width: 960px;
  background-color: #ebebeb;
  margin-top: 49px;
  margin-bottom: 71px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;
}

.sorting-type {
  display: flex;
  width: 760px;
}

.button_more {
  display: flex;
  width: 760px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 3px solid;
  line-height: 55px;
  margin-bottom: 49px;
}

.pagination {
  display: flex;
  width: 760px;
  margin: 0 auto;
  background-color: #ebebeb;
  line-height: 70px;
  margin-bottom: 77px;
}

.pagination-item {
  list-style-type: none;
  margin: 0 auto;
}

.items_catalog {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
}

.bread_crumbs_list {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  width: 425px;
  justify-content: space-between;
  padding-left: 0;
}

.items_catalog_inner {
  display: flex;
  width: 760px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items_card_inner {
  width: 360px;
  margin-bottom: 44px;
}

.main_inner_head {
  display: flex;
  width: 560px;
  margin: 0 auto;
}

.catalog_products {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.catalog_right_column {
  width: 760px;
}
