@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* raleway */

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "rubik", "Arial", sans-serif;
  font-size: 18px;
  font-display: swap;
  line-height: 30px;
  color: #242424;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main.index {
}
.main_container {
  flex-grow: 1;
}
.main_header {
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.navigation_list {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.menu_user {
  width: 1075px;
}

.menu_users_list {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.menu_main_list {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog_menu_items {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.category {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.category_img {
  background-color: #ffe17f;
}

.services {
  background-color: #f0f0f0;
}

.services_head {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}
.services_link {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.delivery_string h2 {
  background-color: #f0f0f0;
}

.car_icon {
  background-color: #ffe17f;
}

.delivery_string_head {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.info_icon {
  background-color: #f0f0f0;
}

.mailing {
  background-color: #f0f0f0;
}
.about_us_head,
.email_subscribe_head,
.main_inner_head {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about_us_list {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.contacts_second_head {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.about_us_link,
.write_us {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.submit_button {
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main_footer {
  background-color: #444444;
  display: flex;
  margin: 0 auto;
  width: 1440px;
  justify-content: space-between;
}
.image_footer_logo {
  display: flex;
  width: 145px;
  margin-top: 62px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 235px;
  margin-top: 35px;
}

.footer_divider {
  margin-top: 66px;
}

.footer_center_list {
  display: flex;
  width: 458px;
  font-family: "raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer_center_items {
  display: flex;
  text-decoration: none;
}

.telephone {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.filters {
  background-color: #ebebeb;
}
.filters_head {
  background-color: #dcdcdc;
}

.sorting {
  background-color: #ebebeb;
}

.pagination {
  background-color: #ebebeb;
}
